/*estilos ejercicio 04*/

div{
    width: 300px;
    height: auto;
    border: 1px solid black;
    margin: 10px;
}

.bloque div{
     display: block
}

.enlinea div{
    display: inline;
    display: inline-block;
    border-style: dotted;
}

/* estilos ejercicio 05*/

ul{
    color: blue;
    list-style: none;
    border: 1px solid black;
    background-color: grey;
    padding: 5px;
}

li{
    display: inline;
    display: inline-block;
    padding: 0px 5px;
}

/*ejercicio ejercicio 06*/
a{ 
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 8px;
    padding: 10px 10px;
}

a:hover{
   
    background-color: #4a3866;
    color: #fff;
}